Available slots within 7 days of your search:

<% @results.each do |slot| %>
<div> <%= slot.date.strftime("%d/%m/%Y") %> <%= slot.hour %>:00-<%= slot.hour.to_i + @duration %>:00 <a href="/book?id=<%=slot.id%>&dur=<%=@duration%>">book</a></div>
<% end %>
