To finalise your booking request for <%= @slots[0].date.strftime("%d/%m/%Y") %> from <%= @slots[0].hour %>:00-<%=@slots[0].hour + @duration%>:00, please complete the following information:
<form action="/book" method="POST">
  Will you using any of the following (please enter details in description):<br>
  <input type="hidden" name="slots" value="<%= @slots[0].id %>">
  <input type="hidden" name="duration" value="<%= @duration  %>">
  <input type="checkbox" name="lighting">Stage Lighting</input>
  <input type="checkbox" name="seating">Seating</input>
  <input type="checkbox" name="audio">Amplified Sound</input><br>
  Description of what you are planning for this booking:<br>
  <textarea name="description" cols="50" rows="3"></textarea><br>
  <input type="submit" value="Make Booking Request">
</form>
