<div class="table">
  <div class="table-body">
    <div class="table-row">
      <div class="table-cell">
        <h3>On Today</h3>
        <% @today_events.each do |booking| %>
            <a href="/admin-booking?id=<%= booking.id %>" class="<%= 'event' unless booking.status == 'Approved' %>">
              <%= booking.title %> - <%= booking.date_time.strftime("%H:%M") %> - <%= (booking.date_time + (booking.duration/24.0)).strftime("%H:%M") %>
            </a>
          <% end %><br>


      </div>
      <div class="table-cell">

        <h3>On Tomorrow</h3>
        <% @tomorrow_events.each do |booking| %>
            <a href="/admin-booking?id=<%= booking.id %>" class="<%= 'event' unless booking.status == 'Approved' %>">
              <%= booking.title %> - <%= booking.date_time.strftime("%H:%M") %> - <%= (booking.date_time + (booking.duration/24.0)).strftime("%H:%M") %>
            </a>
          <% end %><br>

      </div>
      <div class="table-cell">

        <h3>Pending Event Requests</h3>
        <% @pending_event.each do |event| %>
        <a href="/admin-booking?id=<%= event.id %>">
          <%= event.title %> - <%= event.date_time.strftime("%d/%m/%Y") %></a><br>
        <% end %><br>
        <a href="/all-bookings">All Bookings</a>
        <h3>User Requests</h3>
        <% @pending_users.each do |user| %>
        <a href="admin-user?id=<%= user.id %>">
          <%= user.firstname %> <%= user.surname %> (<%= user.email %>)</a><br>
        <% end %>
      </div>

    </div>

  </div>
</div>
