<h2>Available slots within 7 days of your search:</h2>

<% @results.each do |slot| %>
<div> <a href="/book?id=<%=slot.id%>&dur=<%=@duration%>"><%= slot.date.strftime("%d/%m/%Y") %> <%= slot.hour %>:00-<%= slot.hour.to_i + @duration %>:00</a></div>
<% end %>
