<h2>Available slots within 7 days of your search:</h2>

<div class="table">
  <div class="table-body">
    <div class="table-row">
      <% @results.each do |day| %>
      <% if day.count > 0 %>
        <div class="table-cell">
          <%= day.first.strftime("%d/%m/%Y") %><BR>
        <% day.each do |slot| %>
          <a href="/book?datetime=<%= slot.to_s %>&dur=<%= @duration %>"><%= slot.strftime("%H:%M") %> - <%= (slot + (@duration/24.0)).strftime("%H:%M") %></a><br>
        <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
