<img width="300" style="padding-top: 30px;" src="https://i0.wp.com/thecentre17.com/wp-content/uploads/2017/03/cropped-cropped-cropped-centre17_outline_web_transparent.png">
<h1>Booking Portal</h1>
<h2>Hello, <%= @user %></h2>
<div class="flash"><%= flash[:notice] %></div>
<div>
  <a href="/new-booking">Request New Booking</a><br />
  <a href="/logout"> Log Out </a>
</div>

<% if @bookings.count > 0 %>
  <h3> Your Current Bookings: </h3>
    <% @bookings.each do |booking| %>
    <% if booking.date_time >= Date.today %>
      <div>
       <strong><%= booking.title %></strong> -
       <%= booking.date_time.strftime("%d/%m/%Y") %>
       <%= booking.date_time.strftime("%H:%M") %> - <%= (booking.date_time + (booking.duration/24.0)).strftime("%H:%M") %><br>
       <i class="<%= 'event' if booking.status == 'Approved' %> ">Status: <%= booking.status %></i><br><br>
     </div>
     <% end %>
    <% end %>
  <% else %>
    You currently have no active bookings
<% end %>

<% if @bookings.count > 0 %>
  <h3> Your Past Bookings: </h3>
    <% @bookings.each do |booking| %>
    <% if booking.date_time < Date.today %>
      <div>
       <strong><%= booking.title %></strong> -
       <%= booking.date_time.strftime("%d/%m/%Y") %>
       <%= booking.date_time.strftime("%H:%M") %> - <%= (booking.date_time + (booking.duration/24.0)).strftime("%H:%M") %><br>
       <i>Status: <%= booking.status %></i><br><br>
     </div>
     <% end %>
    <% end %>
  <% else %>
    You currently have no active bookings
<% end %>

<br><br>
