<h2><%= @slot.strftime("%d/%m/%Y") %> from <%= @slot.strftime("%H:%M") %> for <%= @duration %> hours</h2>

<h2>To finalise your booking request please complete the following information:</h2>
<form action="/book" method="POST">
  <input type="hidden" name="slot" value="<%= @slot %>">
  <input type="hidden" name="duration" value="<%= @duration  %>">
  <p><input type="text" name="title" placeholder="Booking title" size="50"></p>
  Will you using any of the following (please enter details in description)?:<br>
  <input type="checkbox" name="lighting">Stage Lighting</input>
  <input type="checkbox" name="seating">Seating</input>
  <input type="checkbox" name="audio">Amplified Sound</input><br>
  <input type="checkbox" name="tickets">Box Office/Ticketing</input><br>
  Description of what you are planning for this booking:<br>
  <p><textarea name="description" cols="50" rows="3"></textarea></p>
  <input class="btn" type="submit" value="Make Booking Request">
</form>
<i>* not applicable to ticketed events. You may be offered a lower rate in exchange for "TimeBank" payment in kind.</i>
